{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <h1>{{ profile_user.username }}</h1>
        <p>
            <span><b>{{ num_following }}</b> Following</span>
            <span><b>{{ num_followers }}</b> Followers</span>
        </p>

        {% if profile_user != request.user %}
            {% if followed %}
            <form action="{% url 'unfollow' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ profile_user.id }}">
                <input type="submit" value="Unfollow">
            </form>
            {% else %}
            <form action="{% url 'follow' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ profile_user.id }}">
                <input type="submit" value="Follow">
            </form>
            {% endif %}
        {% endif %}
    </div>

    {% for post in page_obj %}
    <div class="post">
        <a href="{% url 'profile' post.user.id %}"><h3>{{ post.user }}</h3></a>
        <div id="post">
            <p>{{ post.body }}</p>
            <p><small>{{ post.timestamp }}</small></p>
            <!--ensure that the logged user is the only one that can edit their post-->
            {% if user.is_authenticated and user == post.user %}
            <button class="edit_button">Edit Post</button>
            {% endif %}
        </div>
        <!--ensure that the logged user is the only one that can edit their post-->
        {% if user.is_authenticated and user == post.user %}
        <div id="edit_post">
            <form action="{% url 'edit_post' %}" method="post" id="save">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <textarea name="edited_post" id="edited_post" cols="100" rows="2">{{ post.body }}</textarea>
                <br>
                <input type="submit" value="Save">
            </form>
        </div>
        {% endif %}

        <b>{{ post.likes.count }}</b>

        {% if post in liked_posts %}
        <form action="{% url 'unlike' %}" method="post" id="unlike">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="submit" value="Unlike">
        </form>
        {% else %}
        <form action="{% url 'like' %}" method="post" id="like">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="submit" value="Like">
        </form>
        {% endif %}
    </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/main.js' %}" defer></script>
{% endblock %}